.summary-content {
  color: #505050;
  font-weight: 400;
  text-align: justify;

  li {
    margin-top: .5rem;
  }

  p {
    margin-bottom: .25rem;
  }

  .skills span {
    margin-right: 1rem;

    &::after {
      content: ", ";
    }

    &:last-child::after {
      content: ".";
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  .contact-table a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    li {
      &::marker {
        color: inherit;
        font-size: inherit;
      }

      padding-left: 4px;
    }

    p {
      margin-bottom: .25rem;
    }
  }

  li {
    margin-bottom: .75rem;
  }
}