html {
  font-family: 'Source Sans Pro',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

*, *:active, *:focus {
  outline: 0 !important;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

.sidebar {
  background: #f7f7f7;
}

.sidebar .title {
  font-size: 6rem;
  color: #444;
  letter-spacing: 0;
}

.sidebar .link {
  font-size: 3.5rem;
  color: #bdbdbd;
  line-height: 4rem;
  letter-spacing: 3px;
  transition: 100ms all;
}

.sidebar .link:hover {
  color: #444;
}


.container {
  margin: 0 auto;
  min-height: 100vh;
}

.title {
  font-family: 'Quicksand',
  'Source Sans Pro',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.index .markdown-body {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.list-group-flush .list-group-item {
  padding: 0 0 1.5rem 0;
  border-color: transparent;
}

.list-group-flush .list-group-item {
  color: #bababa;
}

.list-group-flush a {
  color: #848484;
  text-decoration: none;
  font-size: 1.25rem;
  transition: 100ms all;
}

.list-group-flush a:hover {
  color: #444;
}

.primary-button {
  background: #f7f7f7;
  color: #bebebe;
  display: inline-block;
  border: 0;
  padding: .3rem 1.25rem .5rem 1.25rem !important;
  transition: 100ms all;
}

.primary-button:hover {
  background: #eeeeee;
  color: #555;
}

.primary-button:active {
  background: #d0d0d0;
  color: #555;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

h1, h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.primary-button.active {
  color: #444
}

.nuxt-content {
  font-size: 1.25rem;
  color: #505050;
  font-weight: 300;
}

.nuxt-content h1, h2 {
  font-weight: 400;
  color: #444;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

pre {
  background: #f7f7f7 !important;
}

.nuxt-content ul {
  padding-left: 2rem;
}

.nuxt-content ul li::marker {
  color: #d0d0d0;
  font-size: 20px;
}

.nuxt-content-highlight {
  font-size: 1rem;
}

.read-more {
  /*font-size: 1rem !important;*/
}

.contact-content a {
  color: #505050;
}

/* RESPONSIVE */

@media only screen and (min-width: 992px) {
  .sidebar {
    position: fixed;
    min-height: 100vh;
  }

  .menu-area {
    display: block !important;
  }
}

@media only screen and (max-width: 991px) {
  .sidebar .link {
    font-size: calc(7vw - 8px) !important;
    line-height: 0 !important;
    letter-spacing: 3px !important;
    display: inline !important;
    margin-right: 1rem !important;
    margin-left: .25rem !important;
  }

  .sidebar .title.logo {
    margin-left: -.1rem !important;
    margin-bottom: 0 !important;
  }

  .container {
    min-height: auto;
  }
}


@media only screen and (max-width: 991px) and (min-width: 768px){
  .sidebar .title.logo {
    margin-bottom: 1vw !important;
  }
}

.sidebar .link.menu-active {
  color: #454545 !important;
}

@media only screen and (max-width: 540px) {
  .sidebar .link {
    color: #454545 !important;
  }
  .sidebar .link.menu-active {
    font-weight: 400 !important;
  }
  html {
    font-size: 12px !important;
  }
}